<div id="entry-container">
  <div id="left-panel">
    <div>
      <h3><%= @entry.title %></h3>
      <p><em>Published at <%= format_datetime(@entry.published_at) %> in '<strong><%= @entry.category.name %></strong>'</em></p>
      <hr />
      <%= @markdown.render(@entry.entry).html_safe %>
      <%= render partial: "comment_list", locals: { markdown: @markdown, settings: @settings, entry: @entry, comment: @comment } %>
    </div>
  </div>
  <div id="right-panel">
    <%= render partial: "common/right_panel", locals: { markdown: @unsafe_markdown, settings: @settings } %>
  </div>
</div>
