<div id="entry-container">
  <div id="left-panel">
    <div>
      <h3><%= @entry.title %></h4>
      <p><em>Published at <%= format_datetime(@entry.published_at) %> in '<strong><%= @entry.category.name %></strong>'</em></p>
      <hr />
      <%= @markdown.render(@entry.entry).html_safe %>
    </div>
  </div>
  <div id="right-panel">
    <%= render partial: "common/search" %>
    <%= render partial: "common/bio", locals: { markdown: @markdown, settings: @settings } %> </div>
</div>
