<div id="entry-container">
  <div id="left-panel">
    <div>
      <h3><%= @entry.title %></h3>
      <p><em>Published at <%= format_datetime(@entry.published_at) %> in '<strong><%= @entry.category.name %></strong>'</em></p>
      <hr />
      <%= @markdown.render(@entry.entry).html_safe %>
      <%= render partial: "comment_list", locals: { markdown: @markdown, settings: @settings, entry: @entry, comment: @comment } %>
    </div>
  </div>
  <div id="right-panel">a
    <div class="row">
      <%= link_to(image_tag("ic_rss_feed_black_24dp.png", title: "Subscribe with RSS"), "#{feed_url}.rss") %>
    </div>
    <hr />
    <%= render partial: "common/search" %>
    <%= render partial: "common/bio", locals: { markdown: @markdown, settings: @settings } %> </div>
</div>
