<div class="header">
  <h1><%= @settings.blog_title %></h1>
  <h2><%= @settings.blog_subtitle %></h2>
  <%= render partial: 'common/category_list', locals: { categories: @categories}  %>
</div>
<div style="margin-left:20px; width:90%, max-width:1440px;">
  <div style="width:66%; min-width:500px; float:left;">
    <div>
      <h3><%= @entry.title %></h4>
      <p><em>Published at <%= format_datetime(@entry.published_at) %> in '<strong><%= @entry.category.name %></strong>'</em></p>
      <hr />
      <%= @markdown.render(@entry.entry).html_safe %>
    </div>
  </div>
  <div style="margin-left:20px; width:400px; float:left;">
    <%= render partial: "common/search" %>
    <%= render partial: "common/bio", locals: { markdown: @markdown, settings: @settings } %> </div>
</div>
