<div class="row">
  <div class="medium-6 columns medium-centered">
    <h2><%= @user.new_record? ? "Create New" : "Edit" %> User</h2>
  </div>
</div>
<div class="row">
  <%= form_for [:admin, @user] do |f| %>
    <div class="row">                                                   
      <div class="medium-6 columns">                          
        <div class="<%= @user.errors[:name].any? ? "error" : "" %>">
          <%= f.label(:name, "Name:") %>                  
          <%= f.text_field(:name) %>                            
          <% if @user.errors[:name].any? %>                   
            <small class="error"><%= @user.errors[:name].join(', ') %></small>
          <% end %>                                                   
        </div>              
      </div>
    </div>

    <div class="row">                                                   
      <div class="medium-6 columns">                          
        <div class="<%= @user.errors[:email].any? ? "error" : "" %>">
          <%= f.label(:email, "Email:") %>                  
          <%= f.text_field(:email) %>                            
          <% if @user.errors[:email].any? %>                   
            <small class="error"><%= @user.errors[:email].join(', ') %></small>
          <% end %>                                                   
        </div>              
      </div>
    </div>

    <div class="row">                                                   
      <div class="medium-6 columns">                          
        <div class="<%= @user.errors[:input_password].any? ? "error" : "" %>">
          <%= f.label(:input_password, "Password:") %>                  
          <%= f.password_field(:input_password) %>                            
          <% if @user.errors[:input_password].any? %>                   
            <small class="error"><%= @user.errors[:input_password].join(', ') %></small>
          <% end %>                                                   
        </div>              
      </div>
    </div>

    <div class="row">                                                   
      <div class="medium-6 columns">                          
        <div class="<%= @user.errors[:input_password_confirmation].any? ? "error" : "" %>">
          <%= f.label(:input_password_confirmation, "Confirm Password:") %>                  
          <%= f.password_field(:input_password_confirmation) %>                            
          <% if @user.errors[:input_password_confirmation].any? %>                   
            <small class="error"><%= @user.errors[:input_password_confirmation].join(', ') %></small>
          <% end %>                                                   
        </div>              
      </div>
    </div>
    
    <div class="row">
      <div class="medium-6 columns">                          
        <%= f.submit(class: "button round success") %>                       
        <%= link_to("Cancel", admin_users_path, class: "button round") %>
      </div> 
    </div>
  <% end %>
</div>
