<div class="row">
  <div class="small-6 small-centered columns">
    <h1>Administration Menu</h1>
  </div>
</div>

<div class="row">
  <div class="small-6 small-centered columns">
    <ul class="left">
      <li><%= link_to('Settings', admin_settings_path) %></li>
      <li><%= link_to('Edit Blog Entries', admin_entries_path) %></li>
      <li><%= link_to('Categories', admin_categories_path) %></li>
      <li><%= link_to('Images', admin_images_path) %></li>
      <li><%= link_to('Accounts', admin_users_path) %></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-6 small-centered columns">
    <%= link_to('Send Test Email', admin_test_email_index_path, method: 'POST', class: 'button round success') %>
  </div>
</div>
